<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Test Front</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body ng-app="AppTestFront">

    <div class="container" ng-controller="appController">
      <ul class="menu">
        <li ng-repeat="item in items"><a href="#" ng-click="changeAirplane(item.id, item.name)">{{ item.name }}</a></li>
      </ul>

      <div class="welcome">Hola, bienvenido, sabemos que quieres viajar en un <span>{{ airplane }}</span>, por favor diligencia el siguiente formulario.</div>
    </div>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/ng-app.js"></script>
  </body>
</html>
